body {
  margin:40px;
  background-color:#ccc0af;
}
* {
  box-sizing: border-box;
}
input {
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}
.inp {
  border-radius:10px;
  border: 1px solid #eee;
  padding: 10px;
  transition: .3s border-color;
}
.inp:hover {
  border: 1px solid #aaa;
}

.forms{
  margin: 60px auto;
  width: 500px;
  border-color: black;
  background-color: #faebd7;
  padding: 10px;
  shape-margin: 10px;
  border-radius: 20px;
  
}
h1{
text-align: center;
}

.inp_butn{
  border-radius:10px;
  
}
.inp_butn:hover {
  border: 1px solid #aaa;
}
p{
  text-align: center;
  margin: 0px;
}

.img-thumbnail{
width: 200px;
height: 200px;
}

.container{
width: 630px!important;
height: auto;
margin: 0 auto;
background-color:#faebd7;
border-radius: 20px;

}

.item a{
height: 100%;
}
.back{
display: block;
width: 200px;
text-align: center;
margin: 0 auto;
}

.item{
width: 600px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 25px;
padding-bottom: 10px;
padding-top: 5px;
}


input[type=file]::file-selector-button {
width: 150px;
margin-right: 20px;
max-width: 100%;
color: #fff;
padding: 5px;
background: #084cdf;
border-radius: 10px;
border: 2px solid #555;
cursor: pointer;
}



input[type=file]::file-selector-button:hover {
background: #0d45a5;
}


.btn_btn-secondary {
display: inline-block;	
box-sizing: border-box;
padding: 0 15px;
outline: none;
border: 1px solid #201e24;  
border-radius: 5px;
height: 38px;
line-height: 38px;
font-size: 14px;
font-weight: 600;
text-decoration: none;
color: #fff;
background-color: #7d91c0;
cursor: pointer;
user-select: none;
appearance: none;
touch-action: manipulation;  
}
.btn_btn-secondary:focus {
box-shadow: 0 0 0 3px rgb(90, 116, 176);
}
.btn_btn-secondary:hover {
background-color: #5a74b0;
border-color: #653adb;
color: #eee !important;
}
.btn_btn-secondary:active {
background-color: #7c91c1 !important;
border-color: #9faed1 !important;
color: #eee !important;
}
.btn_btn-secondary:disabled {
pointer-events: none;
opacity: 0.65;
}

