body {
    margin:40px;
    background-color:#ccc0af;
  }
  * {
    box-sizing: border-box;
  }
  input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
  }
  .inp {
    border-radius:10px;
    border: 1px solid #eee;
    padding: 10px;
    transition: .3s border-color;
  }
  .inp:hover {
    border: 1px solid #aaa;
  }

.forms{
    margin: 60px auto;
    width: 500px;
    border-color: black;
    background-color: #faebd7;
    padding: 10px;
    shape-margin: 10px;
}
h1{
text-align: center;
}

.inp_butn{
    border-radius:10px;
    
}
.inp_butn:hover {
    border: 1px solid #aaa;
  }
p{
    text-align: center;
    margin: 0px;
}

.img-thumbnail{
  width: 200px;
  height: 200px;
}

.container{
  width: 600px!important;
  margin: 0 auto;
}

.item a{
  height: 100%;
}
.back{
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.item{
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}


