<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Exel</title>
</head>
<body> 
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Сообщение.</strong>  {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>


    <div class="main">
        <h1>Загрузка товаров из файла xlsx</h1>
        <p>Загрузите файл с информацией о новаых товарах</p>
        <form action="{% url 'loadFile' %}" method="post" enctype="multipart/form-data" class="forms"> {% csrf_token %}
            <div class="form-group">
                <input  required type="file" name="file"accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                
                <label for="start">Начало строк с продуктами</label>
                <input required min="1" max="100" type="number" name="start">
    
                <label for="end">Конец строк</label>
                <input required   min="1" max="100"type="number" name="end">
                
                <label for="product-column">Столбец с названиями</label>
                <input required min="1" max="100" type="number" name="product-column">
                
                <label for="facturer-column">Столбец с производителями. Если их нет, задайте значение 0</label>
                <input required  min="0" max="100" type="number" name="facturer-column">
            </div>

            
            <input  type="submit" class="btn_btn-secondary" value="Загрузить файл">
        </form>

        <div class="container">
            <a class="link" href="{% url 'downloadFile' %}">Экспорт xlsx.</a>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Картинка</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Область применения</th>
                    <th scope="col">Производитель</th>
                    <th scope="col">Страна Производителя</th>
                    <th scope="col">Примечание</th>
                  </tr>
                </thead>
                <tbody>
                    
                <div class="cfrs_tocken">{% csrf_token %}</div>      
                              
                  {% for product in products %}
                  <tr id="{{ product.id }}">
                    <form onsubmit="sendForm(event);" data-id="{{product.id}}"  method="POST" enctype="multipart/form-data" action="{% url 'changeProduct' %}"> {% csrf_token %}
                        <input type="hidden" name="id" value="{{product.id}}">
                        <td>
                            {% if product.image %}
                              <img src="{{ product.image }}" class="img-thumbnail l{{product.id}}" alt="Картинка продукта">
                            {% else %}
                              <img src="images/no_icon.png" class="img-thumbnail l{{product.id}}" alt="">

                            {% endif %}
                            <div class="field__wrapper">
                                <input accept="image/jpeg image/jpg" type="file" name="file" id="l{{product.id}}" class="field field__file">
                                <label class="field__file-wrapper wrapper{{product.id}}" for="l{{product.id}}">
                                  <div class="field__file-fake fakel{{product.id}}">X</div>
                                  <div class="field__file-button btn_btn-secondary bt{{product.id}}">Выбрать</div>
                                </label>
                             </div>
                        </td>
                        <td> <textarea id="name-{{product.id}}" maxlength="300" required type="text" name="name" >{{ product.name }}</textarea></td>
                        <td> <textarea id="place-{{product.id}}" maxlength="300" required type="text" name="place">{{ product.place }}</textarea></td>
                        <td> <textarea id="facturer-{{product.id}}" maxlength="150" required type="text" name="facturer" >{{ product.facturer }}</textarea></td>
                        <td> <textarea id="facturer_сountry-{{product.id}}" maxlength="150" required type="text" name="facturer_сountry">{{ product.facturer_сountry }}</textarea></td>
                        <td> <textarea id="desc-{{product.id}}" maxlength="300" type="text" name="descripton">{{ product.descripton }}</textarea></td>
                        <td><input  class="btn_btn-secondary" type="submit" value="Изменить"></td>
                    </form>
   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              

        </div>
        
    </div>
</body>
<script src="{% static 'script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>