<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Exel</title>
</head>
<body>
    
    <div class="main">
        <form action="." class="forms">
            <p>Наименование</p>
            <input  type="text" value="" class="inp">
            <p>Область применения</p>
            <input  type="text" value="" class="inp">
            <p>производитель</p>
            <input  type="text" value="" class="inp">
            <p>Страна производителя</p>
            <input  type="text" value="" class="inp">
            <p>Примечания</p>
            <input  type="text" value="" class="inp">
            <P>Фото</P>
            <img src="" alt="вв">
            <input type="button" value="прекрепить фото">
            <input type="button" value="отправить" class="inp_butn">
        </form>

        <input  type="button" value="Прикрепить файл">

    </div>
</body>
</html>